@import url("https://fonts.googleapis.com/css?family=Cormorant|Overpass");

body {
    /*background: linear-gradient(to right, #40e0d0, #1bbfaf);*/
    background: #8463b0;
    font-family: "Overpass";
    padding-top: 50px;
    position: relative;
    /*display: flex;*/
    justify-content: center;
}

.App {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    /*width: 450px;*/
}

.btn {
    text-transform: uppercase;
    /*background: linear-gradient(to right, #40e0d0, #1bbfaf);*/
    /*background: linear-gradient(to right, #610ad3, #744ca8);*/
    background: #610ad3;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

    .btn:focus,
    .btn:active {
        border: none;
        outline: none;
    }

    .btn:active {
        transform: scale(0.98);
    }

#btnLogout {
    font-weight: bold;
    color: black;
}

#login {
    position: center;
}
